.raleway{
    font-family: "Raleway", sans-serif;
}
.inter{
    font-family: "Inter", sans-serif;
}

.p{
    color: rgba(3, 7, 18, 0.6);
font-family: Inter;
font-size: 18px;
font-weight: 400;
font-family: "Inter", sans-serif;

}